

@model AuthorizationProject.Models.Hayvan
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="HayvanlariGetirPost" asp-controller="Hayvan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="float:left" class="form-group">
                <label asp-for="HayvanKategori" class="control-label"></label>
                <select asp-for="HayvanKategori" class="form-control" asp-items="ViewBag.HayvanKategori">kat
                    <option value="" disabled selected hidden>Kategori seçiniz</option>
                </select>
            </div>
            <div style="float:left"  class="form-group">
                <label asp-for="HayvanIrk" class="control-label"></label>
                <select asp-for="HayvanIrk" class="form-control" asp-items="ViewBag.HayvanIrk">cins
                    <option value="" disabled selected hidden>Irk seçiniz</option>
                </select>
            </div>
            <div style="float:left"  class="form-group">
                <input type="submit" value="Filtrele" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@foreach (var h in ViewBag.hayvanlar)
{
    <vc:hayvan-vc h=h></vc:hayvan-vc>
}


